* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border: 1px solid #333;
  margin: 20px;
  border-radius: 10px;
  background-color: #82a7df;
}

form {
  text-align: center;
  margin-top: 20px;
}
